@import "tailwindcss";


@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-size: 16px; /* Force consistent base font size */
  }
}